.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    flex-direction: column;
    max-width: 470px;
    margin: 0px auto 0px auto;
    justify-content: center;
}