.frame__conteiner {
    display: flex;
    flex-direction: column;
    max-width:max-content;
    max-height: max-content;
    margin: 90px auto;
    z-index: 2;
}

@media screen and (max-width: 480px) {
    .frame__conteiner {
        margin: 136px auto;
    }
}